header {margin-top:130px;
        }


h1 {font-family:monospace;
    font-size:50px;
    text-align:center;
    Background:rgba(155, 155, 15, 0.568);
    border-radius:25%}

h2 {text-align:center;
        padding-top:50px;}

#form {text-align:center;}

img {display:grid;
     margin-right:auto;}

#nav-bar {position:fixed;
        display:grid;
        grid-auto-flow: column;
        min-height: 100px;
          top:0%;
          left:0%;
          width:100%;
        background: rgba(155, 155, 15, 0.568);
        padding:10px;}

.nav-link{
        display:grid;
        min-height:10px;
        justify-content: center;
        align-content: stretch;
        grid-auto-flow: column;
        color:black;
        padding-right: 250px;}

        
ul {list-style-type: none;}/* Removes bullets from list */

#header-img { display:block;
        margin-right:10px;;
        border-radius: 25%;
        background-color:black;
        width:45%;}

.logo {background-size: contain;}

.samplework {display:block;
        width:80%;
        border-radius: 5%;
        border: 5px solid black;}

.container {display:block;
            padding-top:50px;
            margin-left:auto;
                margin-right:auto;    }