header {margin-top:130px;
        }


h1 {font-family:monospace;
    font-size:50px;
    text-align:center;
    Background:rgba(155, 155, 15, 0.568);
    border-radius:25%}

h2 {text-align:center;
        padding-top:50px;}

#form {text-align:center;}

img {display:block;
     margin-right:auto;
     width:60%;}

#nav-bar {position:fixed;
        display:grid;
        grid-auto-flow: column;
        min-height: 100px;
          top:0%;
          left:0%;
          width:100%;
        background: rgba(155, 155, 15, 0.568);
        padding:10px;}

.nav-link{
        display:grid;
        min-height:10px;
        justify-content: center;
        align-content: stretch;
        grid-auto-flow: column;
        color:black;
        padding-right: 250px;}

ul {list-style-type: none;}

.logo { display:grid;
        justify-content: start;}

